h1 {
    font-family: 'Sue Ellen Francisco', cursive;
    text-shadow: 2px 2px #bfffdc;
    margin-top: 55px;
}

p {
    font-family: 'Special Elite', cursive;
    font-size: 18px;
}

body {
    text-align: center;
    background: linear-gradient(#ffbfeb, #c08cff, #8cbaff, #8ce0ff, #9dff8c, #fff58c, #ffbe8c, #ff3d3d);
    background-repeat: no-repeat;
}

section {
    padding: 100px;
}

img {
    width: 80%;
    height: 50%;

}

.li {
    display: inline;
    font-family: 'Special Elite', cursive;
    font-size: 15px;
    margin-left: 25px;
    margin-right: 25px;


}

ul {
    position: absolute;
    list-style: none;
    cursor: pointer;
    background-color: #d6fff0;
    width: 85%;
    text-align: center;
    top: 0;
    margin-top: 0;


}

html {
    scroll-behavior: smooth;
}

.li:hover {
    color: floralwhite;
}

.a {
    font-size: 35px;
    font-family: 'Sue Ellen Francisco', cursive;
    color: blanchedalmond;
}

#games img {
    width: 25%;
    border: 5px grey ridge;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    transition: transform 2s
}

#games img:hover {
    transform: scale(0.9)
}


#contact iframe {
    width: 100%;


}
#home img{
    width: 35%;
    
    border-radius: 50%;
}
#imgm{
    width:40%;
}
#imgm:hover{
    transform: scale(0.9)
}
